# Laravel sensitive files
/.env
.env.backup
.env.production
/auth.json

# Laravel storage & runtime
/storage/*.key
/storage/logs
/storage/framework/sessions
/storage/framework/cache
/storage/framework/views
/public/storage

# Dependencies
/vendor
/node_modules

# Public build / mix files
/public/build
/public/hot

# IDE / editor configs
/.idea
/.vscode
/.phpactor.json
/.fleet
/.zed
/.nova

# OS / system files
.DS_Store
Thumbs.db

# Testing
.phpunit.result.cache
/.phpunit.cache

# Homestead
Homestead.json
Homestead.yaml
